@{
    ViewBag.Title = "Index4";
}

<h2 style="text-align:center; margin-top: 50px; margin-bottom:10px">Delete Client</h2>
<form method="post" action="~/Client/Delete">
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th>Client Name</th>
            <td><input type="text" name="name" required /></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="DELETE" /></td>
        </tr>
    </table>
</form>