@{
    ViewBag.Title = "Index2";
}

<div style="text-align:center;">
    <h2>Update Client</h2>
    <form method="post" action="~/Client/edit">
        Enter email:<input type="email" name="email" /><br />
        New Address:<input type="text" name="address" /><br />
        New Phone:<input type="text" name="phone" /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
