@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">Client Registration</h2>
<form method="post" action="~/Client/register">
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th><b>Name</b></th>
            <td><input type="text" name="FullName" required /></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><input type="number" name="Age" required /></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" name="Email" required /></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><input type="text" name="Address" required /></td>
        </tr>
        <tr>
            <th>Phone Number </th>
            <td><input type="text" name="Phone" required /></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Register" /></td>
        </tr>
    </table>
</form>

