@{
    ViewBag.Title = "Index";
}

<div class="col-6">
    <p> <img src="~/content/image/eimage1.jpg"</p>
</div>

<div class="col-6">
    <div>
        <h1>BRING YOUR OFFLINE EVENT ONLINE!</h1>
    </div>

    <div>
        <p><h2>Say goodbye to paperwork and save time with online event registration.</h2></p>
        <p><h2>Register your event no matter what your industry is and connect with people.</h2></p>
    </div>

</div>