@{
    ViewBag.Title = "Index";
}


<div>
    &nbsp;&nbsp;
    <h1 style="text-align:center;>BRING YOUR OFFLINE EVENT ONLINE</h1>
    &nbsp;
</div>

<div style="text-align:center">
    <img src="~/content/image/image1.jpg" height="500px" width="500px" />
</div>



<div style="text-align:center; color:crimson">
    &nbsp;&nbsp;
    <h2>Say goodbye to paperwork and save time with online event registration</h2>
    &nbsp;
    <h2>Register your event no matter what your industry is and connect with people</h2>
    &nbsp;&nbsp;
</div>
<div class="col-md-12 text-center" sstyle="margin-top: 50px">
    <a href="mailTo:min.choi001@student.weltec.ac.nz">GET IN TOUCH</a>
</div>
<div class="col-md-12 text-center">
    <p>&copy;Copyright MJ Choi 2020</p>
</div>


