@{
    ViewBag.Title = "Index2";
}


<div style="text-align:center;">
    <h1>Delete Event</h1>

    <form method="post" action="~/Event/delete">
        Event Name:<input type="text" name="name" /> <br />
        Client email:<input type="email" name="email" /> <br />
        <input type="submit" />
    </form>
</div>