@{
    ViewBag.Title = "Index2";
}


<h2 style="text-align:center; margin-top: 50px; margin-bottom:10px">Delete Event Registration</h2>
<form method="post" action="~/Event/delete">
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th><b>Event Name</b></th>
            <td><input type="text" name="name" required /></td>
        </tr>
        <tr>
            <th>Client Email</th>
            <td><input type="email" name="email" required /></td>
        </tr>
        <tr> 
            <th></th>
            <td><input type="submit" value="DELETE" /></td>
        </tr>
    </table>
</form>
