@{
    ViewBag.Title = "Index";
}

<div style="text-align:center;">
    <h2>Search Event</h2>
    <form method="post" action="~/Search/search">
        Event Name: <input type="text" name="name" /><br />
        Event Date: <input type="text" name="date" /><br />
        <input type="submit" value="Search" /><br />
    </form>
</div>
